@using Library.Dto
@using Library.Models
@model (Book book,List<AuthorDto> authors,List<BookTypeDto> bookTypes)

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h3 class="text-center">Yeni Kitap Ekleme Sayfası</h3>
<form method="post" asp-controller="Book" asp-action="Create" asp-area="Management">
    <div class="mb-3">
        <label class="form-label" asp-for="book.Name">Kitap Adı</label>
        <input type="text" class="form-control" asp-for="book.Name" />
        <span asp-validation-for="book.Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="book.PageCount">Kitap Sayfa Sayısı</label>
        <input type="text" class="form-control" asp-for="book.PageCount" />
        <span asp-validation-for="book.PageCount" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="book.AuthorID">Yazar</label>
        <select class="form-control" asp-for="book.AuthorID" asp-items="@(new SelectList(Model.authors,"ID","FullName"))"> </select>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="book.BookTypeID">Kitap Türü</label>
        <select class="form-control" asp-for="book.BookTypeID" asp-items="@(new SelectList(Model.bookTypes,"ID","Name"))"> </select>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
  
</form>